#about {
    display: flex; 
    padding: 2rem;
    background-color: rgb(7, 0, 27)
}

.aboutContent {
    flex: 1; 
    max-width: 800px;
}

.aboutContent h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: rgb(255, 255, 255);
}

.aboutContent p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1.2rem;
    color: #ddd;
}

.aboutContent a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.aboutContent a:hover {
    text-decoration: underline;
}

.abu {
    flex-shrink: 0;
    width: 250px;
    height: 250px;
    border-radius: 50%; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 7rem;
    display: block; 
}
