.resume-container {
    background-color: rgb(7, 0, 27);
    color: #ffffff;
    padding: 30px;
    font-family: 'Arial', sans-serif;
    margin-top: 200px;
    max-width: 1200px;
}
.section-title{
    font-size: 50px;
    margin-bottom: 70px;
}

.resume-content {
    display: grid;
    grid-template-columns: 80% 20%;
    gap: 20px;
}

.section {
    text-align: left;
}

.section h4 {
    font-weight: bold;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.section ul {
    margin-top: 5px;
    margin-bottom: 35px;
    margin-left: 20px;
    font-size: 25px;
}

.section p,p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.resume-download {
    margin-top: 20px;
}

.download-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.download-link:hover {
    background-color: #45a049;
}

.images-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 60px;
}

.res{
    display: inline;
}
.resume-image {
    max-width: 230px;
    max-height: 230px;
    object-fit: cover;
    border-radius: 2px;
}
