.card{
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    padding: 20px;
    margin: 10px;
    width: 200px;
    height: 120px;
    text-align: center;
    max-width: 400px;
    max-height: 300px;
    display: inline-block;
}

.card .card-image{
    max-width: 60%;
    height: auto;
    margin-bottom: 10px;

}

.card .card-title{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: white;
}

.card .card-text{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.card {
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.1);
  }
  